
 
<!-- <app-user></app-user> -->

 <!--  <div id="container">
    <br>
    <ion-button (click)="goProduct()" expand="full" color="secondary">Administrar Productos</ion-button>  
    <br>
    <ion-button (click)="goUser()" expand="full" color="secondary">Administrar Usuarios</ion-button>
  </div> -->
  <ion-header translucent>
    <ion-toolbar color="success">
      <ion-title style="text-align: center;" >Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-grid>
      <br>
      <ion-row>
        <ion-col>
          <ion-card [hidden]=admon color="success" style="max-width: 40rem; max-height: 20rem; text-align: center;" (click)="goUser()">
            <ion-card-header>
            <ion-icon  name="people-outline" style="font-size: 50px;"  >
            </ion-icon>
          </ion-card-header>
          <ion-card-content>
            <strong>Administrar Usuarios</strong>
          </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card [hidden]=admon  color="danger" style="max-width: 40rem; max-height: 20rem; text-align: center;" (click)="goProduct()" >
            <ion-card-header>
            <ion-icon  name="file-tray-stacked-outline" style="font-size: 50px;" >
          
            </ion-icon>
          </ion-card-header>
          <ion-card-content>
            <strong>Administrar Productos</strong>
          </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row> 
      <ion-row>
        <!-- <ion-col>
          <ion-card [hidden]=client color="tertiary" style="max-width: 40rem; max-height: 20rem; text-align: center;" (click)="goUser()">
            <ion-card-header>
            <ion-icon  name="person-outline" style="font-size: 50px;"  >
            </ion-icon>
          </ion-card-header>
          <ion-card-content>
            <strong>Mi Perfil</strong>
          </ion-card-content>
          </ion-card>
        </ion-col> -->

        <ion-col>
          <ion-card [hidden]=client color="warning" style="max-width: 40rem; max-height: 20rem; text-align: center;" [routerLink]="['/pedirproducto']">
            <ion-card-header>
            <ion-icon  name="cart-outline" style="font-size: 50px;" >
              
            </ion-icon>
          </ion-card-header>
          <ion-card-content>
            <strong>Pedir Productos</strong>
          </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row> 
 

    </ion-grid>
  </ion-content>