<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon" src="assets/icon/Disprinsa.jpg" alt="">
  <ion-item>
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input type="text" name="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" (click)="login()" [disabled]="!email || !password">Entrar</ion-button>

  <br>
  <div style="text-align: center;">
    <a [routerLink]="['/reset-pass']"> <small>Olvidaste tu contraseña</small></a>
    <!--  <ion-button [routerLink]="['/reset-pass']" routerLinkActive="router-link-active"  color="warning"></ion-button> -->
  </div>


</ion-content>

