<ion-header>
  <ion-toolbar>
    <ion-title>Mi pedido</ion-title>
    <ion-buttons slot="end">
      <ion-button  [routerLink]="['/home']">
        <ion-icon name="arrow-back-outline" style="font-size: 40px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let p of itemsPedido; index as i">
    <ion-item>
    <ion-button color="danger" [hidden]=p.btnDelete (click)="DeleteButton(p.id,p.nameUser)">Eliminar Pedido</ion-button>
  </ion-item>
  <ion-item>
  <ion-text color="dark">
    <p>
      <strong> Estado del pedido</strong> {{ p.status }}<br>
      <strong> No.pedido</strong> {{ i+1 }}<br>
     <strong>Usuario:</strong>  {{ p.nameUser }}<br>
     <strong>Cliente:</strong>  {{ p.Client }}<br>
     <strong>NIT:</strong>  {{ p.nit }}<br>
     <strong>Direccion:</strong>  {{ p.Address }}<br>
     <strong>Fecha de entrega:</strong>  {{ p.day }} de {{ p.month }}<br>
     <strong>Comentario:</strong>  {{ p.comment }}<br>
     <strong>Lista de productos:</strong> <br>

    <!--  <ion-list *ngFor="let list of p.list; index as i">
   
      <ion-label>{{ list.producto }}   {{ list.presentacion }} {{ list.cantidad }}<br> </ion-label>
    
    </ion-list>    -->
    </p>
    <div class="table-responsive" style=" overflow: auto;">
     
      <table class="table table-bordered table-hover">
         <thead>
            <tr>
               <th style="text-align: center;">
                <small>
                  <b>
                     Producto
                    </b>
                  </small>
               </th>
               <th style="text-align: center;"><small><b>Presentacion</b></small></th>
               <th style="text-align: center;"><small><b>Cantidad</b></small></th>
              
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let item of p.list; index as i">
               <td align="center">{{ item.producto }}</td>
               <td align="center">{{ item.presentacion }}</td>
               <td align="center">{{ item.cantidad }}</td>
             
            </tr>
         </tbody>
      </table>
      
   </div>
  </ion-text>
  
</ion-item>
  
   
  
   
  </ion-card>

</ion-content>

